.container {

  :global(.ant-input-affix-wrapper .ant-input-suffix) {
    right: 4px;
  }

  :global(.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only).suffixBtn {
    border: none;
    background-color: rgba(0,0,0,.45);
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.formItem {
  margin-bottom: 18px;

  .selectItem {
    width: 50%;
  }
}

.editItem, .editItem > input, .editItem > :global(.ant-select-selection) {
  border-color: #000;
}

.actionBtn {
  padding: 0 32px;
  margin-top: 32px;
}
