.container {
  // :global(.pageBody) {
  //   padding-top: 0;
  // }
}

:global {
  .has-error .ant-input, .has-error .ant-input:hover {
    border: 1px solid #d9d9d9
  }

  .has-error .numberUnit {
    border: 1px solid #f5222d;
    border-radius: 4px;
  }
}

.formItem {
  margin-bottom: 0;
}

.headBtn {
  margin-left: 12px;
}

.dlgBtn {
  margin-left: 16px;
}

.actionBtn {
  margin-bottom: 5px;
  margin-left: 8px;
}

.rowBtn {
  padding: 0 4px;
}
