.container {
  :global(.pageBody) {
    padding-top: 0;
  }
}

.formItem {
  margin-bottom: 0;
}

.imgUploader {

  :global(.ant-upload) {
    width: 100%;
    height: 200px;;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.actionBtn {
  margin-bottom: 5px;
  margin-left: 8px;
}

.rowBtn {
  padding: 0 4px;
}

.paymentCard {
  :global(.ant-card-extra) {
    padding-bottom: 0;
    padding-top: 4px;
  }
}