$grid-border-color: #ccc;

.container {

  :global(.pageBody) {
    padding-top: 0;
  }
}

.systemTable {
  :global(.ant-row) {
    line-height: 2.4;
  }

  :global(.ant-form .ant-input) {
    border: none;
    outline: none;
    box-shadow: none;
  }

  :global(.ant-form .ant-input-number) {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.tableInfo {
  .label, .val {
    border-bottom: 1px solid $grid-border-color;
    border-right: 1px solid $grid-border-color;
    padding-left: 8px;
    padding-right: 8px;
  }

  & > :global(.ant-row:first-child) {
    border-top: 1px solid $grid-border-color;
  }
}

.label {
  border-left: 1px solid $grid-border-color;
}