.container {
  :global(.ant-tabs-extra-content) {
    line-height: 56px;

    & > * {
      margin-right: 20px;
    }
  }

  .listItem {
    padding-top: 10px;
  }
}

.topRow {
  display: flex;
  position: relative;
  height: 134px;
  padding-left: 20px;
  padding-right: 20px;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.chartCategory {
  width: 235px;
  // min-width: 235px;
  padding: 24px;

  &.active {
    border-top: 2px solid rgba(16, 142, 233, 1);
  }

  & > span {
    display: block;
    line-height: 1.8;
  }

  span:nth-of-type(1) {
    font-size: 16px;
    font-weight: 400;
  }

  span:nth-of-type(2) {
    font-family: 'Arial Normal', 'Arial';
    color: rgba(0, 0, 0, 0.647058823529412);
    font-size: 28px;
    font-weight: 400;
  }

  span:nth-of-type(3) {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.427450980392157);
  }
}

.leftNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  border-right: 1px solid rgba(233, 233, 233, 1)
}

.rightNav {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  border-left: 1px solid rgba(233, 233, 233, 1)
}

.statPanel {
  margin-top: 16px;
  padding-top: 16px;
  position: relative;
}

.statAction {
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  padding-right: 40px;
}

.statChartContainer {
  height: 400px;
}

.contentPanel {
  margin-top: 16px;
  height: 400px;
}

.listItem {

  span {
    display: inline-block;
    height: 20px;
  }

  span:nth-of-type(1) {
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    background-color: #F0F2F5;
    text-align: center;
    color: inherit;
    font-size: 12px;

    &.starred {
      background-color: #314659;
      color: #fff;
    }
  }
  span:nth-of-type(2) {
    width: 100px;
    padding-left: 32px;
  }
  span:nth-of-type(3) {
    width: 60px;
    padding-left: 10px;
  }
}

.summaryHeader {
  font-size: 16px;
  font-weight: 700;
}

.barChartContainer {
  height: 320px;
}

.notifyCount {
  font-weight: 600;
  color: red;
}