.container {
  :global(.pageBody) {
    padding-top: 0;
  }
}

.formItem {
  margin-bottom: 0;
  min-width: 80px;
}

.headBtn {
  margin-left: 12px;
}

.actionBtn {
  margin-bottom: 5px;
  margin-left: 8px;
}

.rowBtn {
  padding: 0 4px;
}

.paymentCard {
  :global(.ant-card-extra) {
    padding-bottom: 0;
    padding-top: 4px;
  }
}