@import "~antd/lib/style/index.css";

:global {
  .pageBody {
    padding: 20px;
  }
  
  .breadCrumbContainer {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 20px;
  }

  .ant-calendar-picker-input.ant-input {
    line-height: 1.5;
  }

  .appRow {
    overflow: auto;

    &:after {
      display: block;
      clear: both;
      height: 0;
      content: "";
      visibility: hidden;
    }
  }

  .appCol {
    float: left;
  }
}
