.main {
  background-color: #fff;
  // padding-left: 20px;

  & > * {
    padding: 0;
  }

  & .header, & .footer {
    background-color: #fff;
  }
}

.header {
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.sider {
  width: 250px;
  overflow: hidden;
}

.sideToggler {
  display: inline-block;
  width: 64px;
  height: 63px;
  line-height: 64px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease-out;
  border: none;

  &:hover {
    color: #1890ff;
    background-color: #f9f9fc;
  }

  &:focus, &:active {
    outline: none;
  }
  
}

.avatar {
  float: right;
  margin-right: 16px;
}

.avatarImg {
  margin-right: 6px;
  transform: translateY(-3px);
}

.body {
  margin: 0;
}

.footer {
  padding-bottom: 6px;
  text-align: center;
}

.logo {
  background-image: url('../../static/images/logo.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  background-size: 75%;
  margin: auto auto;
  background-color: rgba(0, 40, 77, 1);
}

:global(.ant-layout-sider-collapsed .logo) {
  background-size: 176px auto;
  background-position: 0;
  width: 56px;
  height: 56px;
  margin-top: 6px;
}