.container {
  
}

.listItem {
  padding-top: 100%;
  position: relative;
  cursor: pointer;

  .overlay {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .4s;
  }

  .badge {
    font-size: 16px;
    position: absolute;
    color: #fff;
    right: 4px;
    top: 4px;
    display: none;
  }
}

.listItem:hover .overlay {
  background-color: rgba(0, 0, 0, .6);
}

.listItem:hover .badge {
  display: block;
}

.imgUploader {

  :global(.ant-upload) {
    width: 128px;
    height: 128px;
  }

  img {
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
}