.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  :global(.ant-modal-footer) {
    padding: 0;
    height: 42px;
    line-height: 42px;
  }
}

.layout {
  height: 400px;
  background: inherit;

  & > * {
    background: inherit; 
  }
}

.form {
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

.formItem {
  margin-bottom: 32px;
}

:global(.ant-form-item-with-help) {
  margin-bottom: 15px;
}

.header {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.content {
  margin: 0 auto;
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
  width: 600px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}

.btn {
  width: calc(100% - 120px);
  margin: 0 8px;
}